@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Wix+Madefor+Text:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*headings and logo*/

h1,
h2 {
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: crimson;
}

#logo {
    display: block;
    margin: 0 auto;
    /* Center horizontally */
    max-width: 300px;
    /* Adjust the max-width as needed */
    text-decoration: underline white;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: crimson;
}

.logo i {
    font-size: 300%;
    margin: 5px;
    padding: 1%;
    color: crimson;
}


#menu {
    font-size: 150%;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Display list items horizontally */
    justify-content: center;
    /* Center-align list items */
}

nav li {
    margin: 0 100px;
    /* Add some spacing between list items */
}

nav a {
    text-decoration: none;
    color: #fff;
}

#menu,
#logo {
    line-height: 100px;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.logo {
    display: block;
    margin: 0 auto;
    /* Center horizontally */
    max-width: 400px;
    /* Adjust the max-width as needed */
    background-color: white;
    /* Set a background color for the logo */
    transform: scale(0);
    /* Start with a scaled-down size */
    animation: logo-animation 1s ease-in-out forwards;
    /* Apply the scale animation */
}

@keyframes logo-animation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/*main image*/
#main-image {
    height: 300px;
    width: 100%;
    margin-left: 25%;
    background: url('../images/pexels-photo-707676.jpeg') no-repeat;
}

/*banners*/
.banner {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

/*time management main section with 3 paragraphs*/
#time-managment {}

#life-control {
    text-align: center;
    margin: 50px 0;
    font-size: 150%;
}

/*footer*/
h4 {
    color: white;
    float: left;
    padding: 10px;
}

footer {
    height: 200px;
    background-color: #333;
    bottom: 0;
}

footer>p {
    color: white;
    text-align: center;
}

.websites {
    text-align: center;
}

.websites>li {
    display: inline;
}

.websites i {
    font-size: 200%;
    margin: 1px;
    padding: 5%;
    color: crimson;
}

.websites {

    text-decoration: none;
    position: relative;
    font-family: Arial;
    font-weight: bold;
    padding: 0 0 5px 0;
    color: crimson;
}

.websites:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: crimson;
    -webkit-transition: all .1s ease;
    transition: all 0.3s ease;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.websites:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

/*sign up with email*/
#button {
    color: crimson;
}

.input-group {
    text-align: center;
    float: right;
    padding: 10px;
}

.button-zoom {}

/*app menu*/
.app-column {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    max-width: 70rem;
    margin: auto;
    align-items: flex-start;
    padding: 0 1.25rem;
}

.app-column div {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
}

.app-column {
    background-color: #333;
    flex: 0 1 25rem;
    margin: 1.75rem;
    height: 5rem;
}

div h3 {
    color: white;
}

/*styling app links*/
a {
    color: white;
    text-decoration: none;
}

h3 a:hover {
    color: crimson;
}

/*skills html*/
#skills-image {
    height: 400px;
    width: 100%;
    background: url('../images/pexels-photo-s714701.jpeg') no-repeat left;
    object-fit: cover;
}

#skil ls-text {
    color: white;
    text-align: center;
    font-size: 150%;
    background-color: #333;
}