@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Wix+Madefor+Text:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*headings and logo*/

h1 {
    font-family: Montserrat;
    letter-spacing: 4px;
    color: white;
}

h2 {
    font-family: Montserrat;
    letter-spacing: 4px;
    color: crimson;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

li {
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    /* Center horizontally */
    max-width: 300px;
    /* Adjust the max-width as needed */
    text-decoration: underline white;
    font-weight: 300;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: crimson;
    text-transform: uppercase;
}

.logo i {
    font-size: 300%;
    margin: 5px;
    padding: 1%;
    color: crimson;
}


#menu {
    font-size: 150%;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 5px;
    height: 10%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Display list items horizontally */
    justify-content: center;
    /* Center-align list items */

}

nav li {
    margin: 0 100px;
    display: inline;
    /* Add some spacing between list items */
}

nav a {
    text-decoration: none;
    color: #fff;
}

#logo {
    line-height: 100px;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.logo {
    display: block;
    margin: 0 auto;
    /* Center horizontally */
    max-width: 400px;
    /* Adjust the max-width as needed */
    background-color: white;
    /* Set a background color for the logo */
    transform: scale(0);
    /* Start with a scaled-down size */
    animation: logo-animation 1s ease-in-out forwards;
    /* Apply the scale animation */
}

@keyframes logo-animation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/*main image*/
#main-image {
    height: 425px;
    width: 100%;
    background: url('../images/pexels-photo-707676.jpeg');
    opacity: 0.5;
    background-color: rgba(255, 0, 0, )
}

.main-image-text {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fallback color */
    opacity: 1.0;
    color: white;
    font-weight: bold;
    border: 5px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 50%;
    width: 80%;
    margin-top: 5%;
    padding: 5px;
    text-align: center;
}

.column {
    height: 100px;
    width: 50%;
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/*banners*/
.hover-container {
    text-align: center;
    border-bottom: 3px solid crimson;
    font-size: 1em;
    transition: all 0.25s linear;
    position: relative;
    margin: 2%;
}

.hover-container:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: -3px;
    /* this is to match where the border is */
    transform-origin: left;
    transform: scale(0);
    transition: 0.25s linear;
    /*   will-change: transform; */
}

.hover-container:hover:before {
    transform: scale(1);
}


/*time management main section with 3 paragraphs*/
#time-managment {}

#life-control {
    text-align: center;
    margin: 50px 0;
    font-size: 150%;
}

/*footer*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.website-left,
.website-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo-footer {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo-footer i {
    font-size: 20px;
    margin-left: 10px;
}

.website-left a,
.website-right a {
    color: crimson;
}

.website-left a:hover,
.website-right a:hover {
    text-decoration: underline;
}

.website-left:before,
.website-right:before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: crimson;
    margin-bottom: 10px;
}

footer {
    height: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/*sign up with email*/
#button {
    color: crimson;
}

.input-group {
    text-align: center;
    float: right;
    padding: 10px;
}

.button-zoom {}

/*app menu*/
.row {
    display: flex;
    justify-content: space-between;
}

.column {
    text-align: center;
    justify-content: space-between;
    flex-basis: 33%;
    background-color: #333;
    float: left;
    width: 33.3%;
    height: 5rem;
    transition: all 2sease-in-out;
}

.app-column:hover {
    transform: scale(1.1);
}

div h3 {
    color: white;
}

/*styling app links*/
a {
    color: white;
    text-decoration: none;
}

h3 a:hover {
    color: crimson;
}

/*skills html*/
#skills-image {
    height: 400px;
    width: 100%;
    background: url('../images/pexels-photo-s714701.jpeg') no-repeat left;
    object-fit: cover;
}

#skills ls-text {
    color: white;
    text-align: center;
    font-size: 150%;
    background-color: #333;
}

/* Media queries for mobile and tablet */
@media screen and (max-width: 767px) {
    header h1 {
        font-size: 24px;
    }

    main {
        margin: 10px;
        padding: 0;
    }

    section {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px)