@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Wix+Madefor+Text:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/gardenlaptop.jpeg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content h2 {
    font-size: 6vmin;
}

.line {
    width: 200px;
    height: 10px;
    background: crimson;
    margin: 20px auto;
    border-radius: 10px;
}

.header-content h1 {
    font-size: 10vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.learnmorebtn {
    padding: 12px 20px;
    background: crimson;
    border-radius: 40px;
    color: white;
}

ul {
    list-style: none;
}

/*nav bar*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    color: crimson;
}

.nav-links li {
    margin: 0 40px;
}

.menu-link {
    color: crimson;
    text-decoration: underline;
    font-weight: bold;
}

/*media queries*/
@media screen and (max-width: 950px) {
    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
    }
}